<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>New Post</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<style>
		body {
			padding-top: 20px;
			padding-bottom: 20px;
		}
	</style>
</head>
<body>

<div class="container">
	

<%- include('partials/navbar') %>

	

	<form action="/newpost" method="POST">
		<div class="row">

		<!-- Post title -->
		<div class="form-group col-xs-3">
			<label for="postTitle">Naslov teksta</label>
			<input type="text"  class="form-control" name="postTitle" placeholder="">
		</div>

		<!-- Message -->
		<div class="form-group col-xs-10">
			<label for="message">O cemu zelite da pisete?</label>
			<textarea placeholder="Vas clanak..." class="form-control" name="message" rows="5"></textarea>
		</div>

		</div>

		<!-- Author -->
		<div class="row">
			<div class="form-group col-xs-3">
			<input type="text" name="author" class="form-control" placeholder="Ime autora">
			</div>
		</div>

		



		<button type="submit" class="btn btn-warning">Posalji</button> 
	</form>



<%- include('partials/footer') %>
</div>

</body>
</html>